/* table , tr , th , td {
    border: solid black;
    border-collapse: collapse;
} */

th , td {
    text-align: center;
}

.error{
    color: red ;
    font-size: 20px;
}

.success {
    color: teal ;
    font-size: 20px;
}